!!!
%html
  %head
    %title WebSockets Test
    %script{ :type => 'text/javascript', :src => 'http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js' }
    :css
      h1 { font-size: 16px; }
      .history { font-size: 14px; width: 300px; height: 150px; border: 1px solid black; overflow-y: auto; }
      .history p { padding: 1px; margin: 0; }

  %body
    = yield
